@font-face {
  font-family: 'cwTeXYen';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
  src: url(https://fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format("embedded-opentype"), url(https://fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format("woff2"), url(https://fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format("woff"), url(https://fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format("truetype");
}

* {
  font-family: 'cwTeXYen';
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 6px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 1.2em;
}

body {
  background-color: #FBAB7E;
  background-image: linear-gradient(315deg, #FBAB7E 0%, #F7CE68 100%);
  overflow-x: hidden;
}

body h1 {
  text-align: center;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .container {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.base {
  padding: 1em;
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  .base {
    width: 90%;
  }
}

.base img {
  width: 300px;
  border-radius: 70% 30% 69% 31% / 30% 69% 31% 70%;
  -webkit-box-shadow: 10px 25px 30px rgba(29, 29, 37, 0.7);
          box-shadow: 10px 25px 30px rgba(29, 29, 37, 0.7);
  border-top: 2px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 600px) {
  .base img {
    max-width: 250px;
  }
}

.base img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border-radius: 30% 70% 33% 67% / 71% 36% 64% 29%;
}

.base-links ul {
  margin-top: 2.5rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.base-links ul a {
  text-decoration: none;
  font-weight: 700;
  color: black;
  display: block;
  position: relative;
  border-radius: 10px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.base-links ul a:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

.base-links ul a li {
  width: 80px;
  padding: 4px;
}

.boxes {
  width: 100%;
  height: 40%;
}

@media (max-width: 600px) {
  .boxes {
    position: relative;
    top: 50px;
  }
}

.boxes-1 {
  width: 100%;
  height: 150px;
  background-color: rgba(119, 118, 117, 0.5);
  position: relative;
  top: 50px;
  left: -10px;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}

.boxes-2 {
  width: 100%;
  height: 150px;
  background-color: rgba(72, 133, 72, 0.6);
  position: relative;
  top: -75px;
  left: 15px;
  padding: 5px;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.boxes-2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes animate {
  0%, 100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes animate {
  0%, 100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

main {
  width: 62%;
  height: 100%;
}

@media (max-width: 600px) {
  main {
    width: 100%;
  }
}

main .row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  width: 100%;
}

.content .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content .wrap-top {
  width: calc(100% - 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.content .wrap-top:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 600px) {
  .content .wrap-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content .wrap-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 600px) {
  .content .wrap-lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.content .wrap-lists div {
  height: 12em;
  width: 16em;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.content .wrap-lists div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.back {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.p-1 {
  padding: 10px;
}

.m-1 {
  margin: 5px 10px;
}
/*# sourceMappingURL=about.css.map */