@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
body {
  background-color: #66869b;
}

.backimg {
  position: absolute;
  width: 100%;
  z-index: -100;
}

.backimg .topback {
  width: 100%;
  height: 100vh;
  background-image: url(../images/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.backimg .backblur {
  background-color: #66869b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, #66869b), to(rgba(2, 0, 36, 0.2)));
  background: linear-gradient(0deg, #66869b 80%, rgba(2, 0, 36, 0.2) 100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: relative;
  top: -5rem;
  height: 100vh;
}

.backimg .bottom {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100vh;
  background-image: url(../images/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.backimg .bottom .bottomblur {
  position: absolute;
  top: -5%;
  left: 0%;
  width: 100%;
  height: 10%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #66869b), to(#a0aaac));
  background: linear-gradient(180deg, #66869b 50%, #a0aaac 100%);
  -webkit-filter: brightness(140%) blur(3px);
          filter: brightness(140%) blur(3px);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

header {
  width: 100%;
}

header nav {
  margin: 0 2rem;
  width: calc(100% - 4.1rem);
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 1rem 0;
}

header nav ul li {
  margin: auto 1rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

header nav .navbtm {
  font-family: inherit;
  font-size: inherit;
  height: 3rem;
  color: white;
  background-color: rgba(244, 244, 244, 0.25);
  padding: 0.8rem 2.5rem;
  margin: auto 0.5rem;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

header .slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  height: 50vh;
}

header .slogan h1 {
  font-size: 5rem;
}

header .slogan h4 {
  color: rgba(219, 219, 219, 0.8);
  font-weight: 300;
  font-size: 1.5rem;
  padding-left: 12rem;
}

section {
  margin: 0 2rem;
}

section .searchBar {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  border-radius: 5px;
  background-color: rgba(212, 212, 212, 0.25);
  padding: 0 1rem;
  color: rgba(219, 219, 219, 0.8);
}

section .searchBar input[type="text"] {
  margin-left: 0.5rem;
  background: transparent;
  border: none;
  width: 80%;
  height: 2.5rem;
}

section .searchBar input[type="text"]::-webkit-input-placeholder {
  font-size: 18px;
  color: rgba(219, 219, 219, 0.5);
}

section .searchBar input[type="text"]:-ms-input-placeholder {
  font-size: 18px;
  color: rgba(219, 219, 219, 0.5);
}

section .searchBar input[type="text"]::-ms-input-placeholder {
  font-size: 18px;
  color: rgba(219, 219, 219, 0.5);
}

section .searchBar input[type="text"]::placeholder {
  font-size: 18px;
  color: rgba(219, 219, 219, 0.5);
}

section h3 {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

section .testimonial {
  margin-top: 3rem;
}

section .testimonial .carouselContainer {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .testimonial .carouselContainer i {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.4rem;
  margin: 0 1rem;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

section .testimonial .carouselContainer .carousel-box {
  position: relative;
  margin: 0 0.5rem;
  background-color: white;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .testimonial .carouselContainer .carousel-box .carousel-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 220px;
  height: 250px;
  -webkit-box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.2);
}

section .testimonial .carouselContainer .carousel-box .carousel-text {
  margin-top: 2rem;
  margin-left: 32%;
}

section .testimonial .carouselContainer .carousel-box .carousel-text .carousel-title h4 {
  font-weight: 500;
  font-size: 1.7rem;
}

section .testimonial .carouselContainer .carousel-box .carousel-text .carousel-title p {
  margin: 0.5rem 0;
  font-size: 16px;
  font-style: italic;
  color: gray;
}

section .testimonial .carouselContainer .carousel-box .carousel-text .carousel-paragraph {
  margin: 0 2rem 2rem 2rem;
}

section .testimonial .carouselContainer .carousel-box .carousel-text .carousel-paragraph p {
  font-size: 16px;
}

section .popularCountries {
  margin-top: 3rem;
}

section .popularCountries .boxContainer {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

section .popularCountries .boxContainer .box {
  height: auto;
  background-color: #fff;
  text-align: center;
}

section .popularCountries .boxContainer .box p {
  margin: 1.5rem auto;
  font-style: italic;
  font-size: 16px;
  color: gray;
}

section .popularCountries .boxContainer .box .country-name {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

section .popularCountries .boxContainer .box:hover .country-name {
  background-color: #242458;
  color: white;
}

main {
  margin: 1rem 2rem;
}

main .cardsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

main .cardsContainer .grid-item {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

main .cardsContainer .card {
  width: 100%;
  background: white;
}

main .cardsContainer .card .card-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 33vh;
}

main .cardsContainer .card .card-info {
  margin: 0.8rem 0.8rem;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .cardsContainer .card .card-info .card-tag {
  font-style: italic;
}

main .cardsContainer .card .card-title {
  margin: 0.8rem;
}

main .cardsContainer .card .card-describe p {
  margin: 0.8rem;
  font-size: 12px;
}

main .cardsContainer .card .card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.8rem 0.8rem;
}

main .cardsContainer .card .card-bottom p {
  font-size: 16px;
  font-style: italic;
}

main .cardsContainer .card .card-circle {
  width: 2rem;
  height: 2rem;
  color: white;
  font-size: 12px;
  background-color: #242458;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}

main .cardsContainer .card .text-center {
  margin: auto;
  text-align: center;
}

main .cardsContainer .card-fullback {
  color: ivory;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cardsContainer .card-fullback::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(219, 219, 219, 0.2);
  width: 100%;
  height: 100%;
  z-index: -1;
}

main .cardsContainer .card-fullback .card-img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -2;
}

main .cardsContainer .card-fullback .card-message {
  display: inline-block;
  text-align: center;
}

main .cardsContainer .card-fullback .card-message .card-info {
  margin: 1.2rem 2rem;
  font-size: 16px;
}

main .cardsContainer .card-fullback .card-message .card-info .card-tag {
  font-style: italic;
}

main .cardsContainer .card-fullback .card-message .card-title {
  margin: 1.2rem 2rem;
}

main .cardsContainer .card-fullback .card-message .card-describe p {
  margin: 1.2rem 2rem;
  font-size: 12px;
}

main .cardsContainer .card-fullback .card-message .card-buttom {
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 16px;
  width: 35%;
  border: 1px solid white;
  border-radius: 2rem;
  cursor: pointer;
}

#sub {
  margin-top: 2rem;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sub dl {
  color: white;
}

#sub dl dt {
  margin: 0.5rem;
  font-weight: 500;
  font-size: 2.3rem;
}

#sub dl dd {
  font-weight: 300;
  margin-left: 4rem;
  font-size: 1.5rem;
}

#sub button {
  font-family: inherit;
  cursor: pointer;
  color: #242458;
  font-weight: 500;
  padding: 0.7rem;
  background-color: white;
  border: none;
  border-radius: 10rem;
  width: 12rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#sub button:hover {
  color: white;
  background-color: #242458;
}

footer {
  background-color: #242458;
  height: 5.5rem;
}

footer .contectContainer {
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
}

footer .contectContainer .socialIcons {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .contectContainer .socialIcons i {
  width: 1rem;
  color: white;
  cursor: pointer;
}

footer .contectContainer .links {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contectContainer .links a, footer .contectContainer .links span {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 12px;
}

footer .copyrights {
  color: white;
  font-size: 12px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/*# sourceMappingURL=style.css.map */