@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
:root {
  font-size: 16px;
  --text-primary: #000000;
  --text-secondary: #383131;
  --bg-primary: rgba(255, 255, 255, 0.5);
  --bg-secondary:  rgba(255, 255, 255, 0.9);
  --transition-speed: 600ms;
  scroll-behavior: smooth;
}
body,main,form,footer {
  font-family: 'Fira Sans', sans-serif !important;
  }
  body {
    background: url(../image/Colorful_Background.jpg) center center;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
  footer {
    margin: 0 0 0 5rem;
    height: 5rem;
    padding: 8px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 96vh;
  }
  .box {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 3em;
    border-radius: 3em;
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 0 20px 50px -10px rgba(46, 54, 68, 0.3);
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .box h1,h2,h3,h4,h5,h6,p {
    color: var(--text-primary);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  }
  .box h2 {
    padding-top: 3rem;
  }
  .title {
    font-size: 5rem;
  }
  .row {
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .context {
    font-size: 25px;
    margin: 10px 0 0 0;
    line-height: 2.5rem;
  }
  .polaroid {
    position: relative;
    left: 60px;
    padding:8px 8px 30px 8px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .photo {
    max-width: 200px;
    
  }
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: hidden;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    /* margin-top: auto; */
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    white-space:nowrap;
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .bi {
    color: #f87996;
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    background: var(--bg-secondary);
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    color: #8d3b3b;
    left: -999px;
    text-transform: uppercase;
    display: inline;
    position: absolute;
    z-index: 2;
  }
  
  .navbar:hover .logo-text {
    font-size: 1.4rem;
    letter-spacing: 0.1ch;
    filter: grayscale(0%) opacity(1);
    transition: var(--transition-speed);
    
  }
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  h2 {
    font-size: 1.7em;
  }

  h1, h2 {
      margin:0;
  }

  p {
      margin: 1em;
  }

  h1 {
  font-size: 4em;
  clip-path: inset(0 0 0 0);
  }
  form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  input, textarea{
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    position: relative;
    width: 100%;
    display: block;
    margin: 9px 0px 9px 0px;
    font-size: 17px;
    color: black;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(200, 200, 200, 0.3);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  input[type="submit"]{
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
  }
  textarea {
    resize: none;
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
    
    .logo {
      display: none;
    }
    
    .navbar-nav {
      flex-direction: row;
    }
    
    .nav-link {
      justify-content: center;
    }
    
    main {
      margin: 0;
      min-height: calc(100% - 5rem);
    }
    .box {
      max-width: 70vw;
      padding: 2.5em;
    }
    h1 {
      font-size: 3em;
    }
    .box h2 {
      padding-top: 1.5rem;
      font-size: 30px;
    }
    .row {
      padding: 0;
    }
    .context {
      padding: 0;
      font-size: 18px;
      line-height: 2rem;
    }
    footer h4 {
      display: none
    }
    .row {
      flex-direction: column;
    }
    .polaroid {
      position: relative;
      left: 0;
    }
  }

  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }

    .navbar:hover {
      width: 16rem;
    }

    .navbar:hover .link-text {
      display: inline;
    }

    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }

    .navbar:hover .logo-text
    {
      left: 0px;
    }
    .box {
      min-width: 70vw;
      max-width: 70vw;
    }
    
  }